.jos1{
    width: 100%;
    background-color: aquamarine;
}
.L1{
    width: 100px;
    height: 80px;
    border-radius: 40px;
    position: relative;
    top:5px;
    left: 2px;
    border: solid black;

}
a{
   position: relative;
   left: 250px;
   bottom: 38px;
   padding: 8px;
   text-decoration: none;
   color: black;
   font-weight: bolder;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover{
    
   color: rgb(234, 32, 13);
    border-radius: 10px;
    text-decoration: underline rgb(0, 68, 255);

}
body{
    margin: 0;
}



.Bg1{
    width: 1260px;
    height: 400px;
 }
 h1{
    font-size: 40px;
    text-align: center;
 }
 .A1{
    width: 340px;
    height: 210px;
    border-radius: 10px;
    border: solid black;
    margin-left: 20px;
}
.A1:hover{
    transform: scale(1.1);
    transition-duration: 5s;
    cursor: pointer;
}

.B1{
    width:340px;
    height: 210px;
    border-radius: 10px;
    border: solid black;
    margin-left: 80px;
}
.B1:hover{
    transform: scale(1.1);
    transition-duration: 5s;
    cursor: pointer;
}
.C1{
    width:340px;
    height: 210px;
    border-radius: 10px;
    border: solid black;
    margin-left: 80px;
}
.C1:hover{
    transform: scale(1.1);
    transition-duration: 5s;
    cursor: pointer;
}
.D1{
    width: 340px;
    height: 210px;
    border-radius: 10px;
    border: solid black;
    margin-left: 20px;
    position: relative;
    top: 80px;
}
.D1:hover{
    transform: scale(1.1);
    transition-duration: 5s;
    cursor: pointer;
}

.E1{
    width:340px;
    height: 210px;
    border-radius: 10px;
    border: solid black;
    margin-left: 80px;
    position: relative;
    top: 80px;
}
.E1:hover{
    transform: scale(1.1);
    transition-duration: 5s;
    cursor: pointer;
}
.F1{
    width:340px;
    height: 210px;
    border-radius: 10px;
    border: solid black;
    margin-left: 80px;
    position: relative;
    top: 80px;
}
.F1:hover{
    transform: scale(1.1);
    transition-duration: 5s;
    cursor: pointer;
}
.G1{
    width: 340px;
    height: 210px;
    border-radius: 10px;
    border: solid black;
    margin-left: 20px;
    position: relative;
    top: 150px;
}
.G1:hover{
    transform: scale(1.1);
    transition-duration: 5s;
    cursor: pointer;
}

.H1{
    width:340px;
    height: 210px;
    border-radius: 10px;
    border: solid black;
    margin-left: 80px;
    position: relative;
    top: 150px;
}
.H1:hover{
    transform: scale(1.1);
    transition-duration: 5s;
    cursor: pointer;
}
.I1{
    width:340px;
    height: 210px;
    border-radius: 10px;
    border: solid black;
    margin-left: 80px;
    position: relative;
    top: 150px;
}
.I1:hover{
    transform: scale(1.1);
    transition-duration: 5s;
    cursor: pointer;
}
.book button{
    margin-left: 440px;
    width: 90px;
    height: 30px;
    position: relative;
    left: 430px;
    bottom: 20px;
    border-radius: 10px;

}
.book button:hover{
    background-color: tomato;
    cursor: pointer;
}

