.jos1{
    width: 100%;
    background-color: aquamarine;
}
.L1{
    width: 100px;
    height: 80px;
    border-radius: 40px;
    position: relative;
    top:5px;
    left: 2px;
    border: solid black;

}
a{
   position: relative;
   left: 250px;
   bottom: 38px;
   padding: 8px;
   text-decoration: none;
   color: black;
   font-weight: bolder;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover{
   color: rgb(234, 32, 13);
    border-radius: 10px;
    text-decoration: underline rgb(0, 68, 255);
}
body{
    margin: 0;
}

.B1{
    background-color: black;
    width: 40%;
    height: 400px;
    color: white;
    margin-left: 100px;


}
    h1{
        font-size: 25px;
        color: azure;
        position: relative;
        margin-left: 90px;
    }
    p{
       color: azure;
       position: relative;
       bottom: 1px;
       margin-left: 90px;
       
    }
hr{
    text-decoration: dashed;
    width: 80%;
}
h2{
    font-size: 25px;
    color: azure;
    position: relative;
    margin-left: 90px;
    position: relative;
    top: 5px;
}
h3{
    font-size: 25px;
    color: azure;
    position: relative;
    margin-left: 90px;
    position: relative;
    bottom: 10px;
    top:20px;
}

iframe{
      width: 500px;
      height: 400px;
      margin-left: 640px;
      position: relative;
      bottom: 400px;

  
}
.book button{
    margin-left: 440px;
    width: 90px;
    height: 30px;
    position: relative;
    left: 430px;
    bottom: 20px;
    border-radius: 10px;

}
.book button:hover{
    background-color: tomato;
    cursor: pointer;
}
