.jos1{
    width: 100%;
    background-color: aquamarine;
}
.L1{
    width: 100px;
    height: 80px;
    border-radius: 40px;
    position: relative;
    top:5px;
    left: 2px;
    border: solid black;

}
.jos1 a{
   position: relative;
   left: 250px;
   bottom: 38px;
   padding: 8px;
   text-decoration: none;
   color: black;
   font-weight: bolder;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.jos1 a:hover{
   color: rgb(234, 32, 13);
    border-radius: 10px;
    text-decoration: underline rgb(0, 68, 255);

    
}
body{
    margin: 0;
}
.book button{
    margin-left: 440px;
    width: 90px;
    height: 30px;
    position: relative;
    left: 430px;
    bottom: 20px;
    border-radius: 10px;

}
.book button:hover{
    background-color: tomato;
    cursor: pointer;
}
body{
    background-image: url(./IMG/NalaHotel\ 02.jpg);
}